{% extends 'Base.html' %}

{% set title='Order products' %}
{% block title %}{{ title }}{% endblock %}
{% block contect %}
    {% if items %}
        <div class="items_container">
        <h2>Our Products</h2><br>
            {% for title, value in items.items() %}
                <h3>{{ title }}: {{ value }}</h3><br>
            {% endfor %}
    </div>
    <div class="size_container">
        <h2>Available sizes:</h2>
        <ol style="list-style: none">
            {% for size in size %}
                <li>
                    <h3>{{ size | upper() }} </h3><br>
                </li>
            {% endfor %}
        </ol>
    </div>
    <div class="additional_products_container">
        <h2>additional products</h2>
        <ul style="list-style: none">
            {% for additional_products in additional_products %}
                <li>{{ additional_products | lower()}}</li><br>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <h3>something went wrong :(</h3>
    {% endif %}
{% endblock %}
{% block IMG %}
    {{ super() }}
    <h1>Coach</h1>
{% endblock %}
