    <div class="navbar">
        <img alt= "lo" src="/static/img/logo.png" class="logo bigger">
        <nav>
            <ul>
                <li><a href="/Home screen">Home</a></li>
                <li><a href="/Contact us">Contact Us</a></li>
                <li><a href="/assignment3_1">assignment3_1</a></li>
                <li><a href="/assignment3_2">assignment3_2</a></li>
            </ul>
        </nav>
        <img alt= "me" src="/static/img/menu logo.png" class="menu bigger">
    </div>